a:link, a:visited{
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;    
    text-decoration: underline;
}

a:active{
    font-size: 150%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    text-decoration: underline;
    background-color: #466471;
}

#LinkNoUnderline{
    text-decoration: none;
}