*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
}

header{
    height: 10vh;
    width: 100%;
    line-height: 10vh;
    background-color: #121212;
    padding-left: 5vw;
}

#CFL_Title:link, #CFL_Title:visited{
    font-size: 125%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    text-decoration: none;
}

#CFL_Title:hover{
    font-size: 125%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;    
    text-decoration: underline;
}

#CFL_Title:active{
    font-size: 125%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    text-decoration: underline;
    background-color: #466471;
}

h1{
    display: inline;
    padding-left: 0.5vw;
}